body{
    font-size: 8px;
    display: flex;
    background: #1e106d;
}
input#tela {
    width: calc(100% - 4px);
    height: 40px;
}
input[type]{
    width: 80px;
    height: 45px;
    cursor: pointer;
}